.header {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: var(--color-bg-one);
    padding: 0 40px;
}

.header .inner-wrap {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-logo a {
    display: flex;
    align-items: center;
}

.header .inner-logo img {
    height: 50px;
    width: auto;
}

.header .inner-logo span {
    font-size: 25px;
    font-weight: 600;
    color: var(--color-text);
    margin-left: 10px;
}

.header .inner-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .inner-menu ul li a {
    display: inline-block;
    padding: 35px 20px;
    font-size: 18px;
    color: var(--color-text);
    font-weight: 500;
}

.header .inner-menu ul li a:hover {
    background: #fff;
}

.header .inner-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .inner-social ul li {
    margin-left: 10px;
}

.header .inner-social ul li a {
    display: inline-block;
    font-size: 22px;
    color: var(--color-text);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.header .inner-icon-mobi {
    display: none;
}

@media (max-width: 991.98px) {
    .header {
        padding: 15px 20px;
    }

    .header .inner-icon-mobi {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    .header .inner-menu {
        display: none;
    }

    .header .inner-social {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .header .inner-logo span {
        font-size: 17px;
    }

    .header .inner-logo img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 575.98px) {
    .header .inner-logo span {
        font-size: 16px;
    }

    .header .inner-logo img {
        width: 40px;
        height: 40px;
    }
}

/*Section One*/
.section-one {
    background-image: url("../images/background.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0;
    position: relative;
}

.section-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.section-one .inner-wrap {
    position: relative;
    width: 50%;
}

.section-one .inner-wrap .inner-sub-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.section-one .inner-wrap .inner-title {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}

.section-one .inner-wrap .inner-desc {
    color: white;
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 30px;
}

.section-one .inner-wrap .inner-button {
    margin-top: 30px;
    height: auto;
}

.section-one .inner-wrap .inner-button .button-two {
    background-color: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}

.section-one .inner-wrap .inner-button .button-two-outline {
    background-color: transparent;
    color: white;
    border-color: #464646;
    transition: all 0.8s;
}

.section-one .inner-wrap .inner-button .button-two-outline:hover {
    background-color: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}

.section-one .button {
    margin-right: 10px;
}

@media (max-width: 991.98px) {
    .section-one .inner-wrap {
        width: 80%;
    }
}

@media (max-width: 767.98px) {
    .section-one .inner-wrap {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}

/*Button*/
.button {
    display: inline-block;
    color: var(--color-text);
    font-weight: bold;
    background: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    border: 2px solid #fff;
}

/*Feature*/
.feature {
    padding: 80px 0 50px;
    background-color: var(--color-bg-one);
}

.feature .inner-wrap {
    display: flex;
    align-items: center;
}

.feature .inner-wrap .inner-image {
    width: 40%;
    margin-right: 5%;
}

.feature .inner-wrap .inner-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.feature .inner-wrap .inner-content {
    flex: 1;
}

.feature .inner-wrap .inner-content .inner-sub-title {
    color: #777777;
}

.feature .inner-wrap .inner-content .inner-title {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 30px;
}

.feature .inner-wrap .inner-content .inner-list {
    display: flex;
    flex-wrap: wrap;
}

.feature .inner-wrap .inner-content .inner-list .inner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.feature .inner-wrap .inner-content .inner-list .inner-item i {
    font-size: 32px;
    color: var(--color-one);
}

.feature .inner-wrap .inner-content .inner-list .inner-item span {
    margin-top: 20px;
    font-weight: bold;
}

.feature .inner-wrap .inner-content .inner-desc {
    color: #777777;
    font-size: 18px;
    margin-top: 30px;
}

.feature .inner-wrap .inner-content .button {
    background-color: var(--color-two);
    border: none;
    transition: all 0.8s;
}

.feature .inner-wrap .inner-content .button:hover {
    background-color: white;
}

@media (max-width: 991.98px) {
    .feature .inner-wrap {
        flex-wrap: wrap;
    }

    .feature .inner-wrap .inner-image {
        width: 100%;
    }

    .feature .inner-wrap .inner-content {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .feature .inner-wrap .inner-content {
        text-align: center;
    }

    .feature .inner-wrap .inner-content .inner-title {
        font-size: 40px;
    }

    .feature .inner-wrap .inner-content .inner-list {
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .feature .inner-wrap .inner-content .inner-title {
        font-size: 32px;
    }

    .feature .inner-wrap .inner-content .inner-list .inner-item {
        margin-left: 50px;
        margin-bottom: 5px;
    }
}

/*Download*/
.download {
    background-color: var(--color-bg-one);
    padding-top: 100px;
    padding-bottom: 100px;
}

.download .inner-wrap {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 40px 65px;
}

.download .inner-wrap .inner-content {
    flex: 1;
}

.download .inner-wrap .inner-content .inner-sub-title {
    color: #777777;
    margin-top: 0;
}

.download .inner-wrap .inner-content .inner-title {
    font-size: 65px;
    margin-top: 0;
    margin-bottom: 0;
}

.download .inner-wrap .inner-image {
    width: 35%;
    margin-left: 50px;
}

.download .inner-wrap .inner-image img {
    width: 100%;
    height: auto;
    margin-top: -120px;
    margin-bottom: -45px;
    border-radius: 10px 10px 0 0;
}

/*Our Goal*/
.section-goal {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-goal .inner-wrap .inner-desc {
    color: #777777;
    font-size: 18px;
    line-height: 1.5;
}

.section-goal .inner-wrap .inner-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 90%;
}

.section-goal .inner-wrap .inner-item i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-bg-one);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

.section-goal .inner-wrap .inner-item span {
    color: #777777;
    flex: 1;
    font-size: 18px;
}

/*Core Features*/
.core-features {
    background-color: var(--color-bg-one);
    padding: 60px;
}

.core-features .inner-wrap .inner-title {
    font-size: 60px;
    text-align: center;
    margin-top: 0;
}

.core-features .inner-main {
    display: flex;
    justify-content: space-between;
}

.core-features .inner-main .inner-item {
    width: 31%;
}

.core-features .inner-main .inner-item .inner-image {
    width: 100%;
    height: 225px;
    overflow: hidden;
}

.core-features .inner-main .inner-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.core-features .inner-main .inner-item .inner-content {
    background-color: white;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.core-features .inner-content .inner-sub-title {
    margin-top: 0;
    color: #777777;
    font-weight: bold;
}

.core-features .inner-content .inner-title {
    font-size: 25px;
}

.core-features .inner-content i {
    position: absolute;
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: white;
    top: -30px;
    right: 30px;
    border-radius: 10px;
    box-shadow: 0 16px 32px 0 #0000000a;
}

/*Form*/
.contact-form {
    margin-top: 80px;
    margin-bottom: 100px;
}

.contact-form .inner-wrap {
    background-color: var(--color-bg-two);
    border-radius: 10px;
    padding: 100px 75px;
}

.contact-form .inner-sub-title {
    margin-top: 0;
    color: #777777;
}

.contact-form .inner-title {
    font-size: 50px;
    margin-top: 0;
    letter-spacing: 2px;
}


.contact-form .inner-form-top {
    display: flex;
    justify-content: space-between;
}

.contact-form .inner-form-top label {
    width: 32.5%;
}

.contact-form .inner-form-top input {
    width: 100%;
    height: 55px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid transparent;
    outline: none;
}

.contact-form .inner-form-bottom textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 200px;
    padding: 20px;
    width: 100%;
    outline: none;
}

.contact-form .inner-button {
    text-align: right;
}


.contact-form .button {
    text-align: center;
    background-color: #000000;
    color: white;
    transition: all 0.8s;
    cursor: pointer;
}

.contact-form .button:hover {
    background-color: #F7D9C4;
    color: black;
}

/*Careers*/
.careers {
    background-color: #1B2026;
    padding: 100px;
}

.careers .inner-wrap {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 60px 30px 60px 80px;
}

.careers .inner-left {
    flex: 1;
}

.careers .inner-left .inner-sub-title {
    color: #777777;
    font-weight: bold;
}

.careers .inner-left .inner-title {
    margin-top: 10px;
    font-size: 60px;
    letter-spacing: 2px;
}

.careers .inner-right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.careers .inner-right .inner-item {
    width: 80%;
    border: 1px solid rgba(119, 119, 119, 0.11);
    border-radius: 10px;
    height: 60px;
    color: #777777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.careers .inner-right .inner-item .inner-item-left span {
    margin-left: 20px;
    font-size: 18px;
}

.careers .inner-right .inner-item i {
    font-size: 22px;
}

/*Experts*/
.experts {
    background-color: var(--color-bg-one);
    padding: 80px 0;
}

.experts .inner-sub-title {
    color: #777777;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.experts .inner-title {
    font-size: 60px;
    letter-spacing: 2px;
    margin-top: 10px;
    text-align: center;
}

.experts .inner-list {
    display: flex;
    justify-content: space-between;
}

.experts .inner-item {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22%;
    border-radius: 10px;
    margin-right: 20px;
    background-color: white;
}

.experts .inner-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.experts .inner-item .inner-name {
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
}

.experts .inner-item .inner-position {
    color: #777777;
    margin-top: 8px;
}

.experts .inner-item .inner-social {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.experts .inner-item .inner-social a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #EFEFEF;
    font-size: 18px;
    color: black;
    text-align: center;
    border-radius: 12px 12px 0 0;
}

/*Preview*/
.preview {
    background-color: var(--color-bg-one);
    position: relative;
}

.preview .inner-image {
    aspect-ratio: 16/9;
}

.preview .inner-image img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.preview .inner-main {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 75%;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    border-radius: 20px;
}

.preview .inner-main .inner-sub-title {
    color: #777777;
    font-size: 18px;
}

.preview .inner-main .inner-title {
    margin-top: 15px;
    margin-bottom: 0;
}

.preview .inner-main .button {
    background-color: #232323;
    color: white;
    transition: all 0.8s;
    cursor: pointer;
}

.preview .inner-main .button:hover {
    background-color: black;
}
/*Testimonials*/
.testimonials {
    background-color: #31363B;
    padding: 80px 0 110px;
}

.testimonials .inner-sub-title {
    color: #BBBBBB;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.testimonials .inner-title {
    color: white;
    font-size: 60px;
    letter-spacing: 2px;
    margin-top: 0;
}

.testimonials .inner-list {
    display: flex;
    justify-content: space-between;
}

.testimonials .inner-list .inner-item {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 35px;
    position: relative;
}

.testimonials .inner-list .inner-item .inner-desc {
    font-size: 25px;
    font-style: italic;
    line-height: 1.4;
    color: #777777;
}

.testimonials .inner-list .inner-item .inner-desc::after {
    content: "\f10e";
    font-size: 50px;
    font-weight: bold;
    font-family: "Font Awesome 6 Free", "Font Awesome 6 Pro", "Font Awesome 6 Brands", sans-serif;
    position: absolute;
    right: 50px;
}

.testimonials .inner-list .inner-item .inner-item-bottom {
    display: flex;
    margin-top: 40px;
}

.testimonials .inner-list .inner-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonials .inner-list .inner-item .inner-name {
    font-size: 25px;
    font-weight: bold;
    color: #31363B;
}
.testimonials .inner-list .inner-item .inner-position {
    color: #777777;
    margin-top: 8px;
}


/*Action*/
.action {
    background-color: var(--color-bg-two);
    padding: 80px;
}

.action .inner-title {
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
}

.action .inner-main {
    aspect-ratio: 16/9;
}

.action .inner-main .inner-image {
    background-image: url("../images/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}

.action .inner-main .inner-action-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

.action .inner-main .inner-action-button::after {
    display: inline-block;
    content: "\f04b";
    font-family: "Font Awesome 6 Free", "Font Awesome 6 Pro", "Font Awesome 6 Brands", sans-serif;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Google Map*/
.google-map .inner-google-map {
    width: 100%;
}


/*Footer*/
.footer {
    background-color: #14191E;
    padding: 30px 0;
    text-align: center;
    color: white;
    font-size: 18px;
}